.game-object{
    position: absolute;
    z-index: -1;
}
/*
@keyframes twinkle-0{
    33% {background-color: blue;}
    67% {background-color: white;}
}

@keyframes twinkle-1{
    33% {background-color: white;}
    67% {background-color: blue;}
}

@keyframes twinkle-2{
    33% {background-color: red;}
    67% {background-color: white;}
}

@keyframes twinkle-3{
    33% {background-color: white;}
    67% {background-color: red;}
}

@keyframes twinkle-4{
    33% {background-color: red;}
    67% {background-color: blue;}
}

@keyframes twinkle-5{
    33% {background-color: blue;}
    67% {background-color: red;}
}
*/
@keyframes alert{
    100% {border-color: white;}
}

.alert{
    animation-name: alert;
    animation-duration: .5s;
    animation-iteration-count: 2;
}

#main-menu{
    padding: 15px;
    display: inline-block;
    text-align: center;
}

#points{
    color: red;
    font-size: 30px;
    margin: 5px;
    display: none;
    text-align: left;
}

#game-over{
    display: none;
}

input{
    color: white;
    background: linear-gradient(blue, purple);
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    text-align: center;
}

body{
    text-align: center;
    background-color: black;
}
