<!DOCTYPE html>
<html>
    <head>
        <title>Space Cadet</title>
        <link rel="stylesheet" href="stylesheets/style.css"/>
        <script src="javascripts/angular.min.js"></script>
        <script src="javascripts/SpaceCadet.js"></script>
        <script src="javascripts/SpaceCadetAngular.js"></script>
    </head>
    <body ng-app="SpaceCadetApp" ng-controller="SpaceCadetController">
        <audio id="main-menu-music" autoplay loop>
            <source src="sounds/mainMenu.wav">
        </audio>
        <audio id="game-music" loop>
            <source src="sounds/spaceTrip.mp3">
        </audio>
        <div id="celestials"></div>
        <div id="lasers"></div>
        <div id="enemies"></div>
        <img id="ship" class="game-object" src="images/spaceShip.png"/>
        <img id="power-up" class="game-object">
        <div id="points" ng-bind="score">0</div>
        <form id="main-menu" ng-submit="addScore()">
            <div><input id="player-name" type="text" value="" ng-model="username" placeholder="NAME"/></div>
            <div><input id="start-button" type="submit" value="SUBMIT SCORE"/></div>
        </form>
        <form id="game-over">
            <div id="ending-score"></div>
            <div><input id="restart-button" type="submit" value="START"/></div>
        </form><br>
        <div id="high-scores">
            <table>
                <thead>
                    <tr>
                        <td>NAME</td>
                        <td>SCORE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="score in scores">
                        <td ng-bind="score.username"></td>
                        <td ng-bind="score.score"</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
